/* General elements */

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: #fafafa;
    overflow-x: hidden;
}


header {
    -ms-user-select: none;
    user-select: none;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}


/* General animations */

.hoverable {
    opacity: .84;
    transition: 140ms opacity;
}

.hoverable:hover {
    opacity: 1;
}


/* Header */

#header-right {
    position: absolute;
    top: 3px;
    right: 3px;
    opacity: 1;
    transition: 280ms opacity;
}

@media(max-width: 819px) {
    #header-right {
        opacity: 0;
    }
}


/* Game section */

section#game {
    height: 464px;
}


/* To be placed in FullScreenMario.css */

.FullScreenMario {
    position: relative;
    font-family: "Press Start";
}

#data_display {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 21px;
  text-transform: uppercase;
}
.FullScreenMario_value  {
  margin: 7px 14px 0 14px;
  text-align: center;
  z-index: 14;
} 

.text {
  position: absolute;
  z-index: 14;
  text-align: left;
  line-height: 210%;
  vertical-align: middle;
}
.text * {
  margin: 0;
}







/* Text sections */

section.section-text {
    margin: auto;
    padding: 21px 70px;
    max-width: 910px;
    font-size: 1.4em;
    text-align: center;
}

.link-github {
    color: #cfc;
}

.link-facebook {
    color: #ccf;
}

.link-twitter {
    color: #cff;
}

@media(max-width: 350px) {
    section.section-text {
        padding: 14px 7px;
    }
}