
.FullScreenMario {
    position: relative;
    font-family: "Press Start";
}

#data_display {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 21px;
  text-transform: uppercase;
}
.FullScreenMario_value  {
  margin: 7px 14px 0 14px;
  text-align: center;
  z-index: 14;
} 

.text {
  position: absolute;
  z-index: 14;
  text-align: left;
  line-height: 210%;
  vertical-align: middle;
}
.text * {
  margin: 0;
}