.LevelEditor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 560px;
    width: 50%;
    max-width: 700px;
    background: rgba(0, 7, 14, .84);
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;
    z-index: 70;
    transition: 117ms all;
}

.LevelEditor.minimized {
    min-width: 117px;
    width: 117px;
    max-width: 117px;
}

.LevelEditor h4 {
    margin: 14px 0 7px 0;
}

.LevelEditor select,
.LevelEditor input {
    margin: 7px;
    padding: 3px 7px;
    font-size: 1.17em;
}


/* EditorHead
*/

.LevelEditor .EditorHead {
    position: relative;
    height: 35px;
}

.LevelEditor .EditorHead .EditorNameContainer {
    position: absolute;
    top: 1px;
    right: 73px;
    left: 2px;
    height: 35px;
}

.LevelEditor .EditorHead .EditorNameInput {
    display: block;
    margin: 0;
    padding: 3px 7px;
    width: 100%;
    background: white;
    border: 1px solid black;
    font-size: 1.4em;
    box-sizing: border-box;
}

.LevelEditor .EditorHead .EditorHeadButton {
    position: absolute;
    top: 2px;
    width: 32px;
    height: 32px;
    background: rgb(35,35,35);
    border: 1px solid silver;
    box-sizing: border-box;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
}

.LevelEditor .EditorHead .EditorMinimizer {
    right: 38px;
}

.LevelEditor .EditorHead .EditorCloser {
    right: 3px;
}


/* EditorSectionChoosers 
*/

.LevelEditor .EditorSectionChooser {
    width: 50%;
    box-sizing: border-box;
    height: 35px;
    background: white;
    border: 3px solid black;
    color: black;
    cursor: pointer;
}

.LevelEditor .EditorSectionChooser.Inactive {
    background: gray;
}


/* EditorSectionMain
*/

.LevelEditor .EditorSectionMain {
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 49px;
    left: 0;
    overflow-y: auto;
}

.LevelEditor .EditorSectionSecondary {
    position: absolute;
    top: 35px;
    right: 248px;
    bottom: 0px;
    left: 0;
    overflow-y: auto;
}


/* EditorJSON
*/

.LevelEditor .EditorJSON {
    font-family: Courier;
}

.LevelEditor .EditorJSONInput {
    display: block;
    width: 100%;
    height: 84%;
    background: rgba(0, 3, 7, .91);
    color: rgba(255, 245, 245, .91);
    box-sizing: border-box;
    overflow-y: auto;
    resize: none;
}

.LevelEditor .EditorJSONInfo {
    height: 1.75em;
    padding: 3px 7px;
}


/* EditorOptions
*/

.LevelEditor .EditorOptions,
.LevelEditor .EditorOptionContainer {
    padding-left: 3px;
    clear: both;
}

.LevelEditor .EditorListOption {
    position: relative;
    float: left;
    margin: 0 7px 7px 0;
    width: 70px;
    height: 70px;
    background: black;
    border: white;
    overflow: hidden;
    cursor: pointer;
}

.LevelEditor .EditorListOption canvas {
    position: absolute;
}


/* EditorVisualOptions
*/

.LevelEditor .EditorVisualSummary {
    margin: 42px 7px;
    opacity: 0;
    transition: 117ms opacity;
}

.LevelEditor.minimized .EditorVisualSummary {
    opacity: 1;
}

.LevelEditor .EditorVisualOptions {
    position: absolute;
    top: 0;
    right: 21px;
    top: 119px;
    bottom: 42px;
    padding: 7px 11px;
    width: 210px;
    border: 1px solid silver;
    border-width: 1px 0 0 1px;
    overflow-x: visible;
    overflow-y: auto;
    opacity: 1;
    box-sizing: border-box;
    transition: 117ms opacity;
}

.LevelEditor.minimized .EditorVisualOptions {
    opacity: 0;
}

.LevelEditor .EditorVisualOptions .VisualOption {
    padding: 14px 0;
}

.LevelEditor .EditorVisualOptions .VisualOptionName {
    margin: 3px 0 7px 0;
}

.LevelEditor .EditorVisualOptions .VisualOptionDescription {
    padding-bottom: 14px;
}

.LevelEditor .EditorVisualOptions .VisualOptionValue {
    max-width: 117px;
}

.LevelEditor .EditorVisualOptions .VisualOptionInfiniter,
.LevelEditor .EditorVisualOptions .VisualOptionRecommendation {
    display: inline;
}


/* EditorMenu
*/

.LevelEditor .EditorMenu {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.LevelEditor .EditorMenuOption {
    display: inline-block;
    padding: 7px 14px;
    background: white;
    border: 3px solid black;
    box-sizing: border-box;
    color: black;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.LevelEditor.minimized .EditorMenuOption {
    padding: 7px 3px;
}

.LevelEditor .EditorMenuOption:hover {
    opacity: .91;
}

.LevelEditor .EditorMenuOption.EditorMenuOptionHalf {
    width: 50%;
}

.LevelEditor .EditorMenuOption.EditorMenuOptionThird {
    width: 33%;
}

.LevelEditor .EditorMenuOption.EditorMenuOptionFifth {
    width: 20%;
}


/* EditorMapSettings
*/

.LevelEditor .EditorMapSettingsGroup {
    padding-left: 7px;
}

.LevelEditor .EditorMapSettingsSubGroup {
    padding-left: 14px;
}